
body {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    background-repeat: no-repeat;
    background-color: #FAF7F3;
    font-size: 18px;
}

h1 {
    font-family: "Notable", helvetica, sans-serif;
}

.dishes {
    width: 30%;
}

.order-form {
    display: flex;
    width: 92%;
    margin: 0 auto;
}

.order-summary {
    width: 40%;
    margin-left: 10%;
    background-color: white;
    border: 1px solid #cdaf87; 
}

header {
    font-size: 30px;
    text-align: center;
    font-family: "Notable", helvetica, sans-serif;
}

fieldset {
    border: 0;
}

legend {
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

form {
    font-size: 30px;
}

.delivery-time {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    margin-top: 40px;
}

.location-drop-down {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 60px;
}

.choose-location {
    font-family: "Barlow Condensed", helvetica, sans-serif;
}

.order-date-field {
    font-family: "Barlow Condensed", helvetica, sans-serif;
}
  
.notes-field {
    float: center;
}

.submit {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 30px;
}

textarea {
    width: 400px;
    height: 100px;
    font-size: 20px;
}

input {
    font-size: 30px;
    text-align: center;
}

/* .add-dish-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
} */