
body {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    background-repeat: no-repeat;
    background-color: #FAF7F3;
    font-size: 18px;
    padding-bottom: 90px;
}

h1 {
    font-family: "Notable", helvetica, sans-serif;
    font-size: 100px;
}

.dishes {
    width: 30%;
    font-size: 30px;
}

.order-form {
    display: flex;
    flex-direction: column;
    width: 92%;
    margin: 0 auto;
}

.order-summary {
    width: 40%;
    margin-left: 5%;
    background-color: white;
    border: 1px solid #cdaf87; 
    font-size: 30px;
}

.summary-items {
    margin-left: 20px;
}

.price-adder {
    position: relative;
    width: 20%;
    padding-bottom: 0%;
    margin-left: 10%;
    background-color: white;
    font-size: 25px;
}

.total-price {
    text-align: center;
    font-weight: bold;
}

.container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    font-size: 20px;
}

header {
    font-size: 30px;
    text-align: center;
    font-family: "Notable", helvetica, sans-serif;
}

fieldset {
    border: 0;
}

legend {
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

form {
    font-size: 30px;
}

.location-choice {
    padding-top: 80px;
    display: flexbox;
    margin-left: -355px;
}

.location {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
}

.location-select {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.locations {
    font-size: 25px;
}

.order-date-field {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
}

/* .delivery-time {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
    margin: auto;
    margin-top: 10px;
    margin-right: 10px;
} */

.date-input {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
    font-family: "Barlow Condensed", helvetica, sans-serif;
    text-align: center;
}

/* .time-input {
    font-size: 25px;
    font-family: "Barlow Condensed", helvetica, sans-serif;
    text-align: center;
} */
  
.submit {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
}

.checkout-btn {
    border-radius: 100px;
    color: white;
    left: 80px;
    margin-top: 160px;
    margin-bottom: 80px; 
    margin-left: -320px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    font-family: "Barlow Condensed", helvetica, sans-serif;
    background-color:rgb(150, 211, 93);    ;
    font-size: 30px;
    /* position: absolute; */
    display: flexbox;
}
/* textarea {
    width: 400px;
    height: 100px;
    font-size: 20px;
} */