* {box-sizing: border-box}

body {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    font-size: 70px;
    background-color: #FAF7F3;
}

nav ul {
    font-size: 30px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-bottom: 40px;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

legend {
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px
}

form {
    width: 800px;
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;
}

.order-items {
    margin-bottom: 30px;
}

#delivery-time {
    margin-top: 60px;
}

#locations {
    margin-top: 30px;
}

.notes {
    float: left;
    margin-top: 10px;
    margin-bottom: 30px;
}

textarea {
    width: 400px;
    height: 100px;
}

#confirm-order-btn {
    margin-top: 70px;
}