
body {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    background-repeat: no-repeat;
    background-color: #FAF7F3;
    font-size: 18px;
    text-align: center;
}

h1 {
    font-family: "Notable", helvetica, sans-serif;
}

.menu {
    display: inline-block;
}

header {
    font-size: 50px;
}

header p {
    font-size: 20px;
}

nav {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

li {
    width: 10px;
    padding: 20px;
    margin: 20px;
    list-style-type: none;
}

fieldset {
    border: 0;
}

legend {
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-size: 70px;
}

#number {
    width: 3em;
  }

#submit {
   margin-top: 50px;
}

form {
    font-size: 50px;
}

delivery-time {
    margin-top: 30px;
}
  
#locations {
    margin-top: 30px;
    margin-bottom: 50px;
}
  
.notes {
    float: center;
}

#submit {
    margin-top: 20px;
    margin-bottom: 50px;
}

textarea {
    width: 400px;
    height: 100px;
}

#number {
    width: 100px;
    height: 80px;
}

input {
    font-size: 30px;
    text-align: center;
}