<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>About Order Inn</title>
    <link href="/Users/abl/projects/poolside_bedside/css/about.css" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Notable|Roboto|Inconsolata" rel="stylesheet">
  </head>
  <body>
		<header role="banner">
    	<h1>Order Inn</h1>
				<nav class="menu">
      		<a href="login.html">Login</a>
					<a href="register.html">Register</a>
    		</nav>
			<div class="description">
        <p>Welcome to Order Inn!</p>
        <p>Order Inn is the Sublime Hotel's in house app which allows guests to reserve small bites and special drinks from our award winning food lab at prime social hubs inside the hotel.</p>
        <p>Whether you want breakfast at the pool, a drink at the lounge, or simply a small pick me up on our rooftop, Order Inn makes it easy to sample new food and enjoy the amenties. </p>
      </div>
    </header>
  </body>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="index.js"></script>
</html>