<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>About Order Inn</title>
    <link href="../css/about.css" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Notable|Roboto|Inconsolata" rel="stylesheet">
  </head>

  <body>
		<header role="banner">
      <h1>Order Inn</h1>
      <img class="logo" src="../cutlery-icon.svg" alt="Cutlery" />
			<nav class="make-order">
      	<a class="make-order-link" href="make-order.html">Order</a>
      </nav>
    </header>

		<div class="description">
      <p>Welcome to Order Inn!</p>
      <p>Order Inn is the Sublime Hotel's in house app which allows guests to reserve speical dishes from our award winning food lab at prime social hubs inside the hotel.</p>
      <p>Whether you want breakfast at the pool or simply a small pick me up on our rooftop, Order Inn makes it easy to sample new food and enjoy our first class amenties. </p>
    </div>

  </body>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
    <script src="index.js"></script>
</html>