<!DOCTYPE html>
<html>

  <head>
    <title>Order Summary</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Notable|Roboto" rel="stylesheet">
  <link href="/Users/abl/projects/poolside_bedside/css/delivery_form.css" rel="stylesheet" type="text/css" />
  <meta name="description" content="Order Select">
  </head>

  <body>
    <header role="header">
      <h1>Checkout</h1>
    </header>
    <div class="order-tally"></div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="../app.js"></script>

</html>
