<!DOCTYPE html>
<html>

  <head>
    <title>Order Details</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Notable|Roboto" rel="stylesheet">
  <link href="/Users/abl/projects/poolside_bedside/css/make-order.css" rel="stylesheet" type="text/css" />
  <meta name="description" content="Order Select">
  </head>
  <body>
    <header role="header">
      <h3>Order Checkout</h3>
      <fieldset>
              <legend></legend>
              <div class="order-date">
                <label for="order-date-field">Order Date:</label>
                <input id="today" placeholder="" type="date">
              </div>
              <div class="delivery-time">
                <label for="delivery-time-field">Delivery Time: </label>
                <input type="time" value="7:00" step="900" required>
              </div>
              <div class="location-drop-down">
                <label for="location-select">Choose location: </label>

                <select id="locations">
                      <option value="">--Please choose an option--</option>
                      <option value="Pool-Bar">Pool Bar</option>
                      <option value="Lounge">Lounge</option>
                      <option value="Rooftop Lounge">Rooftop Lounge</option>
                  </select>
              </div>
              <div class="notes-field">
                <label class="notes" for="comments"><textarea placeholder="Notes" name="notes" maxlength=1000></textarea></label>
              </div>
            </fieldset>
    </header>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../app.js"></script>

</html>
