<!DOCTYPE html>
<html>

  <head>
    <title>Checkout</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="checkout.css" />
    <link href="sign_in.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Notable|Roboto" rel="stylesheet">
    <meta name="description" content="Checkout Form for Order Inn">
  </head>

  <body>
    <header role="header">
      <img class="logo" role=logo src="https://image.flaticon.com/icons/svg/108/108264.svg" alt="Cutlery" />
      <h1>Checkout</h1>
    </header>
    <nav>
      <ul>
        <li><a href="orderdash.html">Home</a></li>
        <li><a href="menu.html">Menu</a></li>
      </ul>
    </nav>
    <form>
      <fieldset>
        <legend>Order Summary</legend>
        <div class="order-items">
        </div>
      </fieldset>
    </form>
  </body>
  <script src="index.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</html>
