<!DOCTYPE html>
<html lang="en">

  <title>Hotel Sublime Menu</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Notable|Roboto" rel="stylesheet">
  <link href="../css/menu.css" rel="stylesheet" type="text/css" />
  <meta name="description" content="Hotel Sumblime's Fall/Winter Cafe Menu">

  <body>
    <header role="header">
    </header>
    <nav class="menu">
      <a href="homepage.html">Home</a>
      <a href="fall_menu.html">Menu</a>
    </nav>
      <fieldset>
        <legend>Menu</legend>
        <div class="menu-container">
        <div class="dishes"></div>
        <div class="beverages"></div>
        <button id="menu-button" type="button">Menu</button>
        </div>
      </fieldset>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>
  </body>

</html>
