<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Inn Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Notable|Roboto" rel="stylesheet">
    <link href="../css/homepage.css" rel="stylesheet" type="text/css" />
    <meta name="description" content="Order Inn Homepage">
  </head>

  <body>
	  <header role="banner">
      <h1>Order Inn</h1>
			<nav>
        <ul>
      	<li><i><a href="login.html">LOGIN</a></i></li>
        <li><i><a href="register.html">REGISTER</a></i></li>
        ]</ul>
    	</nav>
    </header>
  </body>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="../app.js"></script>
</html>