<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Inn Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Notable|Roboto" rel="stylesheet">
    <link href="../css/homepage.css" rel="stylesheet" type="text/css" />
    <link href="../css/make-order.css" rel="stylesheet" type="text/css" />
    <meta name="description" content="Order Inn Homepage">
  </head>

  <body>
    
    <div class="homepage">
	  <header role="banner" class="homepage-header">
      <h1 class="homepage-title">Order Inn</h1>
			<nav>
        <ul>
      	<li class="login-link"><i><a>LOGIN</a></i></li>
        <li class="register-link"><i><a>REGISTER</a></i></li>
        <li class="about-link"><i><a>ABOUT</a></i></li>
        </ul>
    	</nav>
    </header>
    </div>
    
    <div class="login-form">
    </div>

  </body>

  <div class="create-order">
  </div>

  <div class="thank-you">
  </div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="../app.js"></script>
</html>