<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Inn Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Notable|Roboto" rel="stylesheet">
    <link href="../css/homepage.css" rel="stylesheet" type="text/css" />
    <link href="../css/login.css" rel="stylesheet" type="text/css" />
    <meta name="description" content="Order Inn Homepage">
  </head>

  <body>
    <div class="logo">
      <img class="logo" src="../cutlery-icon.svg" alt="Cutlery"/>
    </div>
    
    <div class="homepage">
	  <header role="banner" class="homepage">
      <h1 class="title">Order Inn</h1>
			<nav>
        <ul>
      	<li class="login-link"><i><a>LOGIN</a></i></li>
        <li class="register-link"><i><a>REGISTER</a></i></li>
        <li class="about-link"><i><a>ABOUT</a></i></li>
        </ul>
    	</nav>
    </header>
    </div>
    
    <div class="login-form">
      <form role="form" accept-charset="UTF-8" method="POST">
        <fieldset>
            <legend class="login-legend">Log In</legend>
            <label for="user-email">Email</label>
            <input type="email" placeholder="" name="user-email" id="user-email" required/>
            <label for="user-password">Password</label>
            <input placeholder="" type="password" name="user-password" id="user-password" required/>
        <button type="submit" onclick="getMakeOrderPage()" id="sign-in-submit">SUBMIT</button>
        </fieldset>
        </form>
    </div>
    <footer role="contentinfo" class="footer">
        <p>Don't have an account? <a href="/register">Sign Up</a></p>
    </footer>
  </body>

  <div class="create-order"></div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="../app.js"></script>
</html>