<!DOCTYPE html>
<html lang="en">

  <title>Order Details</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Notable|Roboto" rel="stylesheet">
  <link href="/Users/abl/projects/poolside_bedside/css/make-order.css" rel="stylesheet" type="text/css" />
  <meta name="description" content="Order Select">

  <body>
    <header role="header">
      <h1>Pick Your Items</h1>
    </header>
    <!-- <nav class="nav">
        <a href="homepage.html" id="homepage-link">Home</a>
        <a href="make-order.html" id="menu-link">Menu</a> -->
    </nav>
    <div class="order-form">
    <div class="dishes">
    </div>
    <div class="order-summary">
      <ul id="summary-items">
      </ul>
    </div>
    <div class='price-adder'>
    <span class="total-price">Total:</span>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>
  </body>

</html>
