<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Order Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Notable|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/Users/abl/projects/poolside_bedside/css/orderdash.css">
  </head>

  <body>
    <header role="header">
      <h2>ORDER INN</h2>
    </header>
    <nav>
        <a href="homepage.html" id="homepage-link">Home</a>
        <a href="make-order.html" id="menu-link">Menu</a>
    </nav>
    <div class="user-orders"></div>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>
  </body>

</html>
