<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Order Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Notable|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/Users/abl/projects/poolside_bedside/css/delivery_form.css">
  </head>

  <body>
    <header role="header">
      <h2>ORDER INN</h2>
    </header>
    <nav>
        <a href="homepage.html" id="homepage-link">Home</a>
        <a href="fall_menu.html" id="menu-link">Menu</a>
    </nav>
      <div class="order-search">
        <label for="order-id">Enter Order ID:</label>
        <input type="text" id="order-id" name="order-id">
      </div>
      <div class="order-items">
      </div>
        <button class="find-order" type="button">Submit</button>
      <div class="order-list">
      </div>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>
  </body>

</html>
