<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Notable|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/Users/abl/projects/poolside_bedside/css/orderdash.css">
  </head>

  <body>
    <header role="header">
      <h2>ORDER INN</h2>
    </header>
    <nav>
      <ul>
        <li><a href="menu.html">Menu</a></li>
      </ul>
    </nav>
      <ul class="order-list">
        <li>
          <span class="order-item"></span>
          <div class="order-item-controls">
          </button>
            <button class="view-order" type="submit">
            <span class="button-label">View</span>
          </button>
          </div>
        </li>
      </ul>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>
  </body>

</html>
