* {box-sizing: border-box}

body {
	background-color: beige;
}

.menu {
	color: black;
	text-align: center;
	font-family: "Roboto", helvetica, sans-serif;
}

h1 {
	font-family: "Notable";
	color: black;
	font-size: 80px;
	text-align: center;
}

.description {
	color: black;
	font-family: 'Inconsolata', monospace;
	font-size: 30px;
	margin: 40px;
	padding: 40px;
	padding-top: 10px;
}

a {
    color: black;
}