* {box-sizing: border-box}

body {
	background-color: #FAF7F3;
}

/* .make-order-link {
	color: black;
	font-family: "Roboto", helvetica, sans-serif;
	font-size: 20px;
	margin-left: 805px;
} */

.logo {
	width: 100px;
	height: 80px;
	margin-left: 780px;
	margin-bottom: 20px;
}

/* h1 {
	font-family: "Notable";
	color: black;
	font-size: 80px;
	text-align: center;
} */

.description {
	color: black;
	font-family: 'Inconsolata', monospace;
	font-size: 30px;
	margin: 40px;
	padding: 40px;
	padding-top: 10px;
}

/* a {
    color: black;
} */