* {box-sizing: border-box}

body {
    font-family: "Notable", helvetica, sans-serif;
    background-image: url('../toast-homepage.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.homepage-title {
	color: white;
    text-align: center;
    font-family: "Notable", helvetica, sans-serif;
}

.homepage-header {
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
}

nav {
    padding-bottom: 10px;
	font-family: "Roboto", helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    display: block;
}

a {
    color: white;
}

.login-link {
    display: inline; 
    padding: 30px;
    list-style: none;
    font-size: 40px;
}

.about-link {
    display: inline; 
    padding: 30px;
    list-style: none;
    font-size: 40px;
}

.register-link {
    display: inline; 
    padding: 30px;
    list-style: none;
    font-size: 40px;
}

.thank-you {
    text-align: center;
    font-size: 70px;
    color: whitesmoke;
}
