* {box-sizing: border-box}

body {
	background-size: cover;
    background-repeat: no-repeat;
    font-family: "Notable", helvetica, sans-serif;
	background-image: url('../toast-homepage.jpeg');
}

.title {
	color: white;
    font-size: 100px;
    text-align: center;
}

nav {
    padding-bottom: 10px;
	font-family: "Roboto", helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    display: block;
}

a {
    color: white;
}

.login-link {
    display: inline; 
    padding: 30px;
    list-style: none;
    font-size: 40px;
}

.about-link {
    display: inline; 
    padding: 30px;
    list-style: none;
    font-size: 40px;
}

.register-link {
    display: inline; 
    padding: 30px;
    list-style: none;
    font-size: 40px;
}

/* li.order-item {
    font-size: 25px;
}

h2.order-id {
    font-size: 60px;
    font-style: normal;
    font-family: "Barlow Condensed", helvetica, sans-serif;
} */