body {
  font-family: "Barlow Condensed", helvetica, sans-serif;
  background-repeat: no-repeat;
  background-color: #faf7f3;
  font-size: 18px;
  padding-bottom: 90px;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

.make-order {
  margin-bottom: 100px;
}

.create-order {
  margin-top: 10px;
}

.order-feedback {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0 auto;
}

li.order-item {
  font-size: 25px;
}

p.order-id {
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  font-family: "Barlow Condensed", helvetica, sans-serif;
  margin: auto;
}

ul {
  list-style-type: none;
  margin-top: 10px;
}

.dishOrder {
  font-family: "Barlow Condensed", helvetica, sans-serif;
  font-size: 30px;
}

.cancel-text {
  font-size: 40px;
  color: black;
  font-family: "Barlow Condensed", helvetica, sans-serif;
}

.new-order-btn {
  display: block;
  margin-left: 165px;
  border-radius: 100px;
  color: white;
  left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  font-family: "Barlow Condensed", helvetica, sans-serif;
  background-color: rgb(150, 211, 93);
  font-size: 30px;
}

.order-feedback {
  text-align: center;
  font-size: 70px;
}

.dishes {
  width: 30%;
  font-size: 30px;
}

.order-details {
  font-size: 30px;
  margin-left: 40px;
}

.order-form {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 50px;
  margin-top: 5px;
}

.order-summary {
  width: 55%;
  margin-left: 5%;
  background-color: white;
  border: 1px solid #cdaf87;
  font-size: 30px;
}

.cancel-btn {
  border-radius: 500px;
  left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  font-family: "Barlow Condensed", helvetica, sans-serif;
  font-size: 30px;
  color: red;
  border: 0;
  background-color: white;
}

.done-btn {
  margin-top: -68px;
  border-radius: 500px;
  left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  font-family: "Barlow Condensed", helvetica, sans-serif;
  font-size: 30px;
  color: red;
  margin-bottom: 10px;
  border: 0;
  background-color: white;
}

.cancel-btn:hover {
  background: #f44336;
  color: white;
}

.done-btn:hover {
  background: grey;
  color: white;
}

.thanks {
  font-size: 35px;
  margin-left: 25px;
}

.summary-items {
  margin-top: 50px;
  margin-left: 20px;
}

.price-adder {
  position: relative;
  width: 20%;
  padding-bottom: 0%;
  margin-left: 10%;
  background-color: white;
  font-size: 25px;
}

.cart-total {
  margin-top: 40px;
}

.cart-cost {
  font-size: 30px;
  font-weight: bold;
  margin-left: 35px;
}

.total-price {
  text-align: center;
  font-weight: bold;
}

.container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  font-size: 20px;
}

.booking {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.order-header {
  font-family: "Barlow Condensed", helvetica, sans-serif;
}

.order-title {
  font-size: 60px;
}

.logo-menu {
  color: white;
  width: auto;
  height: 70px;
}

h4 {
  font-weight: bold;
}

fieldset {
  border: 0;
}

form {
  font-size: 30px;
}

.logo-feedback {
  height: 60px;
  margin-left: 40px;
}

.feedback-btns {
  margin-bottom: 100px;
}

.order-date {
  padding-left: 10px;
  padding-bottom: 5px;
}

.location {
  font-family: "Barlow Condensed", helvetica, sans-serif;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.locations {
  font-size: 20px;
}

.logo-order-delete {
  height: 70px;
  margin-top: 20px;
}

.date-input {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Barlow Condensed", helvetica, sans-serif;
  text-align: center;
  border: 10px;
}

.time-input {
  font-family: "Barlow Condensed", helvetica, sans-serif;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.note {
  padding: 5px;
}

.submit {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;
}

.checkout-btn {
  border-radius: 100px;
  color: white;
  left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  font-family: "Barlow Condensed", helvetica, sans-serif;
  background-color: green;
  font-size: 30px;
  border: 0;
  display: flexbox;
}

.done-deleted-btn {
  border-radius: 100px;
  color: white;
  left: 80px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  font-family: "Barlow Condensed", helvetica, sans-serif;
  background-color: green;
  font-size: 30px;
  display: block;
  border: 0;
}

@media only screen and (max-width: 640px) {
  /* ORDER FORM */

  .container {
    margin: 40px;
  }

  .order-form {
    margin: auto;
  }

  p.order-id {
    font-size: 40px;
  }

  .dishOrder {
    font-size: 30px;
  }

  .order-details {
    font-size: 30px;
  }

  .cart-total {
    font-size: 30px;
  }

  .order-title {
    margin: 20px;
  }

  .make-order {
    margin-top: 60px;
  }

  .order-summary {
    margin-left: 50px;
    margin-top: 35px;
    width: 50%;
  }

  li.order-item {
    margin-top: 40px;
    padding: 10px;
  }

  .order-date {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    font-size: 20px;
    margin-left: 30px;
  }

  .pride-adder {
    margin-left: 36%;
  }

  .order-summary {
    margin-left: 50px;
  }

  .dishOrder {
    margin-left: -30px;
  }

  .order-details {
    margin-left: 0px;
    margin-top: -50px;
  }

  .cart-total {
    margin-left: -40px;
  }

  .cancel-text {
    color: black;
    font-size: 25px;
  }

  .cancel-btn {
    background-color: white;
  }

  .done-btn {
    background-color: white;
  }

  .total-price {
    margin-left: 44px;
  }

  ul {
    margin-right: 35px;
  }

  .dishes {
    font-size: 20px;
  }

  .location {
    margin-left: 0px;
  }

  .pride-adder {
    margin-left: 15%;
  }

  .location-choice {
    margin-left: 40px
  }

  .checkout-btn {
    margin-left: 40px;
  }

  .note {
    margin-left: 40px;
    font-size: 16px;
  }

  .thanks {
    margin-left: 40px;
    font-style: italic;
  }
}