
body {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    background-repeat: no-repeat;
    background-color: #FAF7F3;
    font-size: 18px;
    padding-bottom: 90px;
}

.make-order {
    margin-bottom: 100px;
}

.create-order {
    margin-top: 10px;
}

.order-feedback {
    display: flex;
    flex-direction: column;
    width: 92%;
    margin: 0 auto;
}

li.order-item {
    font-size: 25px;
}

p.order-id {
    font-size: 80px;
    font-style: normal;
    font-family: "Barlow Condensed", helvetica, sans-serif;
}

.dishOrder {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    font-size: 30px;
}

.delete-feedback {
    margin-left: 530px;
}

.cancel-text {
    font-size: 35px;
    margin-left: -70px;
    font-family: "Barlow Condensed", helvetica, sans-serif;
}

.order-title {
    font-size: 120px;
    margin-top: -60px;
    margin-left: -30px;
    font-family: "Notable", helvetica, sans-serif;
}

.new-order-btn {
    display: block;
    margin-left: 165px;
    border-radius: 100px;
    color: white;
    left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    font-family: "Barlow Condensed", helvetica, sans-serif;
    background-color:rgb(150, 211, 93);    ;
    font-size: 30px;
}

.order-feedback {
    text-align: center;
    font-size: 70px;
    margin-left: 50px;
}

.dishes {
    width: 30%;
    font-size: 30px;
}

.order-details {
    font-size: 30px;
    margin-left: 40px;
    margin-top: -40px;
}

.order-form {
    display: flex;
    flex-direction: column;
    width: 92%;
    margin: 0 auto;
}

.order-summary {
    width: 40%;
    margin-left: 5%;
    background-color: white;
    border: 1px solid #cdaf87; 
    font-size: 30px;
}

.cancel-btn {
    border-radius: 500px;
    left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    font-family: "Barlow Condensed", helvetica, sans-serif;
    font-size: 30px;
    color: red;
    margin-left: 590px;
    margin-bottom: 10px; 
  }

.done-btn {
    margin-top: -68px;
    margin-left: 805px;
    border-radius: 500px;
    left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    font-family: "Barlow Condensed", helvetica, sans-serif;
    font-size: 30px;
    color: red;
    margin-bottom: 10px; 
}
  
.cancel-btn:hover {
    background: #f44336;
    color: white;
}

.done-btn:hover {
    background:grey;
    color: white;
}

.thanks {
  font-size: 35px;
  font-weight: bold;
  margin-left: 670px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.summary-items {
    margin-top: 50px;
    margin-left: 20px;
}

.price-adder {
    position: relative;
    width: 20%;
    padding-bottom: 0%;
    margin-left: 10%;
    background-color: white;
    font-size: 25px;
}

.cart-cost {
    font-size: 30px;
    font-weight: bold;
    margin-left: 35px;
}

.total-price {
    text-align: center;
    font-weight: bold;
}

.container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    font-size: 20px;
}

.order-header {
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    margin-left: 400px;
    margin-top: 20px;
    font-family: "Barlow Condensed", helvetica, sans-serif; 
}

h4 {
    font-weight: bold;
}


fieldset {
    border: 0;
}


form {
    font-size: 30px;
}

.location-choice {
    padding-top: 80px;
    display: flexbox;
    margin-left: -355px;
}

.location {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
}

.location-select {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.locations {
    font-size: 25px;
}

.order-date-field {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
}

.date-input {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
    font-family: "Barlow Condensed", helvetica, sans-serif;
    text-align: center;
}

.submit {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
}

.checkout-btn {
    border-radius: 100px;
    color: white;
    left: 80px;
    margin-top: 160px;
    margin-bottom: 80px; 
    margin-left: -320px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    font-family: "Barlow Condensed", helvetica, sans-serif;
    background-color:rgb(150, 211, 93);    ;
    font-size: 30px;
    display: flexbox;
}

.done-deleted-btn {
    border-radius: 100px;
    color: white;
    left: 80px;
    margin-top: 10px;
    margin-bottom: 80px; 
    margin-left: 165px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    font-family: "Barlow Condensed", helvetica, sans-serif;
    background-color:rgb(150, 211, 93);    ;
    font-size: 30px;
    display: flexbox;
}