
body {
    font-family: "Barlow Condensed", helvetica, sans-serif;
    background-repeat: no-repeat;
    background-color: #FAF7F3;
    font-size: 18px;
    text-align: center;
}

h1 {
    font-family: "Notable", helvetica, sans-serif;
}

.menu {
    padding-top: 50px;
    display: inline-block;
}

header {
    font-size: 30px;
    text-align: center;
}

li {
    width: 10px;
    padding: 20px;
    margin: 20px;
    list-style-type: none;
}

fieldset {
    border: 0;
}

legend {
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

form {
    font-size: 30px;
}

delivery-time {
    margin-top: 30px;
}

.location-select {
    margin-top: 30px;
    margin-bottom: 50px;
}
  
.notes-field {
    float: center;
}

.submit {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 10px;
}

textarea {
    width: 400px;
    height: 100px;
}

.count-select {
    width: 1500px;
    height: 80px;
}

.date-select {
    font-size: 20px;
}

input {
    font-size: 30px;
    text-align: center;
}
